@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
}

:root{
    --azul_brillante: #0000FF;
    --azul_claro_one: #EDF0F7;
    --azul_claro_secundario: #d6dff1;
    --azul_claro_chu: #CDD4EA;
    --azul_claro_tri: #ACB9DC;
    --azul_grisaceo: #8C9ECF;
    --azul: #6179BD;
    --azul_fresco: #4B67B4;
    --azul_tormenta: #3E5593;
    --azul_grisaceo_oscuro: #304273;
    --azul_marino: #232F53;
    --azul_oscuro: #151D32;
    --negro: #080A12;

    --bordes: 1.5px solid var(--azul_claro_tri);
   --transition: all 0.3s ease;

}

/* BODY */
body{
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, var(--azul_claro_chu), var(--azul_claro_tri));
    height: 100vh;
}

.container{
    margin: 0 15px;
}

.form-content{
    width: 100%;
    max-width: 450px;
    padding: 30px;
    background: var(--azul_claro_one);
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.1);
    display: block;
}

h2{
    font-size: 36px;
    text-align: center;
    margin-bottom: 30px;
}

input{
    width: 100%;
    padding: 12px;
    background: var(--azul_claro_secundario);
    border-radius: 6px;
    border: none;
    outline: none;
    font-size: 16px;
    color: var(--negro);
    margin-bottom: 20px;
}

input:hover{
    border: var(--bordes);
    transition: var(--transition);
}

button{
    width: 100%;
    padding: 8px;
    font-size: 18px;
    border-radius: 6px;
    background-color: var(--azul_claro_secundario);
    border: var(--bordes);
}

button:hover{
    border: var(--bordes);
    transition: var(--transition);
}

.mensaje-error{
    text-align: center;
    background: #f8d7da;
    color: #a42834;
    padding: 12px;
    margin-bottom: 20px;
    border-radius: 6px;
}

.mensaje-correcto{
    text-align: center;
    background: rgba(76, 175, 80, 0.2);
    color: var(--success-color);
    padding: 12px;
    margin-bottom: 20px;
    border-radius: 6px;
}

.enlace {
    margin-bottom: 20px;
}

.enlace-login {
    margin-top: 20px;
}

.enlace a,
.enlace-login a {
    text-decoration: none;
    color: var(--negro);
}

.enlace a:hover,
.enlace-login a:hover {
    color: var(--azul_brillante);
}